
  <!-- <div class="position-absolute top-0 start-0">1</div>
  <div class="position-absolute top-0 end-0">2</div>
  <div class="position-absolute top-50 start-50">3</div>
  <div class="position-absolute bottom-50 end-50">4</div>
  <div class="position-absolute bottom-0 start-0">5</div>
  <div class="position-absolute bottom-0 end-0">6</div> -->

  <div class="position-absolute top-0 end-0 cookie-window-top" id="hideable-div" *ngIf="showCookiePopup">
    <p class="text-cookie-w-t">
      Comunicazione ai sensi dir. 2009/136/CE: questo sito utilizza cookies tecnici anche di terze parti.
      L'uso del sito costituisce accettazione implicita dell'uso dei cookies.
      Per revocare il consenso è sufficiente cancellare i cookies di dominio dal browser.
    </p>
    <div class="cookie-accept">
        <a class="cookie-accept-button" role="button" (click)="hideCookiePopup()" #hideButton>Accetto</a>
    </div>
  </div>
  <div class="fixed-bottom bg-light border-top" [ngStyle]="{ display: showReservation ? 'block' : 'none' }">
    <div class="cookie-window-bottom">
      <div class="col-lg col-sm">
        <p class="cookie-text">Richiedi un Preventivo con un click!</p>
      </div>
      <div>
        <button>PRENOTA</button>
        <button>NO, GRAZIE</button>
      </div>
    </div>
  </div>

