
<footer>
    <div class="container p-4">
        <div class="row">
            <div class="col-12">
                <img class="img-fluid" src="./assets/nanni.png">
            </div>
            <div class="col-4 offset-4">
                <button [routerLink]="['/prenota']" class="btn btn-primary" > PRENOTA</button>
            </div>
            <div class="col-12 mt-4 text-center">
                <a >Privacy Policy</a>|© TIMM Charter | P.IVA : 07951590632 | Centro Direzionale E/7 80143 Napoli, Italia
            </div>
        </div>
    </div>
</footer>









