<div class="id"><div class="container">
    <!--<div class="image">
      <img src="https://images6.alphacoders.com/427/427592.jpg" alt="Sfondo barca">
    </div> -->
    <div class="card">
      <mat-card>
        <mat-card-title class="text-center">DOMANDE FREQUENTI</mat-card-title>
        <mat-card-content>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>È necessaria la patente nautica per noleggiare?</mat-panel-title>
              </mat-expansion-panel-header>
                <mat-card-content>
                    Si, la patente nautica è necessaria per timonare la barca a vela
                </mat-card-content>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Quali sono i servizi inclusi nel prezzo della vacanza?</mat-panel-title>
              </mat-expansion-panel-header>
                <mat-card-content>
                    l prezzo comprende il servizio di locazione/noleggio della barca e in particolare:
                    <ul>
                    <li>equipaggiamenti necessari : cuscineria, biancheria da letto completa, coperte, asciugamani, utensili da cucina, stoviglie e bicchieri, tovaglie, macchinetta del caffè, dotazioni di sicurezza</li>
                    
                    <li>ormeggio per l’intera settimana presso la nostra base</li>
                    
                    <li>servizio di check-in e check-out</li>
                    
                    <li>pulizia finale della barca</li>
                    
                    <li>pacchetto di benvenuto</li>
                    </ul>
                    Le tariffe non includono il carburante, la cambusa, le spese di trasporto e transfer alla base, le spese nei porti o in rada, le tasse turistiche.
                </mat-card-content>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Quali servizi extra posso richiedere?</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
            <mat-card-content>
                Puoi richiedere servizi extra al tuo Charter:
                <ul>
                <li>Animali a bordo</li>
                
                <li>Lenzuola ed asciugamani extra</li>
                
                <li>Teli mare</li>
                
                <li>Servizi skipper e hostess</li>
                
                <li>Check in prioritario alle 14:00</li>
            </ul>
                I servizi extra vengono saldati alla base durante il check-in.
            </mat-card-content>
            </mat-card>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Quando vanno effettuati i pagamenti?</mat-panel-title>
                </mat-expansion-panel-header>
                  <mat-card-content>
                    Alla prenotazione è richiesto un pagamento del 50% del prezzo della vacanza (esclusi gli extra). Il saldo del restante 50% deve essere effettuato 40 giorni prima della partenza. Se la data di partenza è inferiore ai 30 giorni si dovrà saldare l’intero importo alla prenotazione. Gli extra si pagano alla base al check in.
                  </mat-card-content>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Quali sono le politiche di cancellazione?</mat-panel-title>
                </mat-expansion-panel-header>
                  <mat-card-content>
                    Il Viaggiatore può recedere dal contratto in qualunque momento prima dell'inizio dell’esecuzione del Contratto di Pacchetto Turistico dietro pagamento delle spese di recesso standard (penali di cancellazione) previste da TIMMCharter, che dipendono dalla destinazione prescelta e dal momento in cui il Viaggiatore recede rispetto alla data di partenza. In assenza di specificazione delle spese standard di recesso, l'importo delle spese di recesso corrisponde al prezzo del pacchetto diminuito dei risparmi di costo e degli introiti che derivano dalla riallocazione dei Servizi Turistici. Le penali di recesso standard per le locazioni e i noleggi previste da TIMMCharter sono: 50% fino a 30 giorni prima della data di partenza, 100% oltre tale data
                  </mat-card-content>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Chi è il mio referente durante la vacanza?</mat-panel-title>
                </mat-expansion-panel-header>
                  <mat-card-content>
                    Durante tutta la durata della tua vacanza il tuo referente sarà sempre il/la Base Manager, cioè la persona che ti accoglierà al punto di partenza. Sarà quest’ultimo, insieme allo Skipper, ad assisterti per qualsiasi necessità o richiesta durante il charter. Tutti i riferimenti vi saranno forniti al check-in. 
                  </mat-card-content>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Qual è la durata minima della vacanza?</mat-panel-title>
                </mat-expansion-panel-header>
                  <mat-card-content>
                    Gli itinerari proposti sono pensati per una vacanza della durata minima di due giorni ma è possibile prenotare per più settimane se si desidera una crociera di durata superiore.
                  </mat-card-content>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Quali sono gli orari di check-in e check-out?</mat-panel-title>
                </mat-expansion-panel-header>
                  <mat-card-content>
                    I check-in vengono effettuati entro le ore 18:00, Il check out entro le ore 10.00 .
                    Eventuali richieste devono essere riferite almeno un paio di giorni prima.
                  </mat-card-content>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Devo seguire un itinerario prefissato?</mat-panel-title>
                </mat-expansion-panel-header>
                  <mat-card-content>
                    L’itinerario può essere scelto tra quelli proposti, se ti affidi a uno Skipper, potrai concordare l’itinerario con lui e farti consigliare le migliori baie della zona!
                    L’itinerario può essere modificato anche a causa delle condizioni meteo e di vento.
                  </mat-card-content>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>La barca è assicurata?</mat-panel-title>
                </mat-expansion-panel-header>
                  <mat-card-content>
                    La nostra barca è munita di Assicurazione prevista dalla Legge.
                    La presenza dell’Assicurazione non esclude però l’obbligo per il cliente del Deposito Cauzionale.
                  </mat-card-content>
              </mat-expansion-panel>
            </mat-accordion>
            </mat-card-content>
            </mat-card>
              </div>
            </div></div>
