<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top bg-light p-3" >
    <div class="container-fluid">
      <a class="navbar-brand" style="cursor:pointer">
          <img [routerLink]="['/']" src="/assets/images/logonew.png" alt="Logo" width="380px" class="d-inline-block align-text-top me-5">
      </a>
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  justify-content-between" id="navbarNavDropdown"  >
        <ul class="navbar-nav ">
          <li class="nav-item ">
            <a href="#chiSiamo" class="nav-link activemt-2  mt-2  mb-2 ms-5 me-1" aria-current="page">Chi siamo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mt-2  mb-2 ms-3 me-1">Scopri la barca</a>
          </li>
          <li class="nav-item">
            <a routerLink="/servizi" class="nav-link mt-2  mb-2 ms-3 me-1">Dotazioni e servizi</a>
          </li>
          <li class="nav-item">
            <a (click)="scrollToPorto()" class="nav-link mt-2  mb-2 ms-3 me-1">Porto</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle m-2 " href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              Destinazioni
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" >Isole Eolie</a></li>
              <li><a class="dropdown-item" href="#">Costiera Amalfitana</a></li>
              <li><a class="dropdown-item" href="#">Isole del Golfo</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a routerLink="/prezzi" class="nav-link mt-2  mb-2 ms-3 me-1">Listino prezzi</a>
          </li>
          <li class="nav-item">
            <a routerLink="/faq" class="nav-link mt-2  mb-2 ms-3 me-1  ">Domande frequenti</a>
          </li>
          <li class="nav-item">
            <a routerLink="/contatti" class="nav-link mt-2  mb-2 ms-3 me-5 ">Contatti</a>
          </li>

        </ul>
        <button [routerLink]="['/prenota']" class="btn btn-primary m-2 ms-5 me-5 " id="prenota" >PRENOTA</button>
      </div>
    </div>
  </nav>



