<div class="id">
  <div class="container">
    <div class="d-flex justify-content-center ">
      <div id="img" class="border-bottom-0 shadow p-3  rounded bg-body border-bottom-0 w-75">
        <div class="row">
          <div class="col-12">
            <h1 style="color:rgb(70, 97, 151); font-size: 45px;" class="text-center mt-5">Contattaci</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <p class="h6 text-secondary p-3" style="color:rgb(70, 97, 151)">Email:info@timmsrl.it</p>
          </div>
        </div>
        <p class="mb-3 pt-2 h6 text-center text-secondary">
          Per richiedere informazioni puoi contattarci compilando il modulo online sotto indicato
        </p>
        <br>
        <form [formGroup]="mioform" (ngSubmit)="onSubmit()">
        <div class="row d-flex justify-content-center">
          <div class="col-4">
            <div class="form-group">
              <label class="h6 text-secondary">Nome*</label>
              <input type="text" class="form-control" formControlName="name" id="" placeholder="Nome*">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="h6 text-secondary">Cognome*</label>
              <input type="text" class="form-control" formControlName="surname" id="" placeholder="Cognome*">
            </div>
          </div>
        </div>
        <br>
        <div class="row d-flex justify-content-center">
          <div class="col-4">
            <div class="form-group">
              <label class="h6 text-secondary">Email*</label>
              <input type="email" class="form-control" formControlName="email" id="" placeholder="name@example.it">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="h6 text-secondary">Telefono*</label>
              <input type="text" class="form-control" formControlName="telefono" id="" placeholder="Numero di telefono">
            </div>
          </div>
        </div>
        <br>
        <div class="row d-flex justify-content-center">
          <div class="col-8">
            <div class="form-group">
              <label class="h6 text-secondary">Messaggio</label>
              <textarea class="form-control" rows="4"></textarea>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt-2">
          <span class="col-8 h6 d-flex mt-3 text-secondary"> Ho letto e accetto &nbsp; <a
              routerLink="/privacy">l'informativa
              sulla privacy</a>, inoltre:
          </span>
          <div class="form-check mt-1 col-8 justify-content-center">
            <input type="radio" name="scelta" id="acconsento" class="h6 form-check-input text-secondary">
            <label for="acconsento" class="h6 form-check-label text-secondary"><b>Acconsento</b></label>
          </div>
          <div class="form-check  col-8 justify-content-center">
            <input type="radio" id="non" name="scelta" class="h6 form-check-input text-secondary">
            <label for="non" class="h6 form-check-label text-secondary"> Non Acconsento</label>
          </div>
          <div class="col-8 justify-content-center">
            <p class="h6 text-secondary">
              TIMM Charter di utilizzare il mio indirizzo e-mail per l'invio delle principali comunicazione commerciali
              su
              prodotti,servizi e inviti a eventi
            </p>
          </div>
        </div>
        <div class="row">
          <div class=" justify-content-center d-flex p1 mt-4 mb-1">
            <button type="submit" class="btn text-white"
              style="background-color: rgb(70, 97, 151); font-size: 20px;" (click)="open(content)">Invia</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>

<!--Modale-->

<ng-template #content let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title">Dati</h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <h2>Dati Inseriti</h2>
          <p><strong>Nome:</strong> {{ datiForm.name }}</p> <br>
          <p><strong>Cognome:</strong> {{ datiForm.surname }}</p> <br>
          <p><strong>Email:</strong> {{ datiForm.email }}</p> <br>
          <p><strong>Telefono:</strong> {{ datiForm.telefono }}</p> <br>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
<hr />
<pre>{{ closeResult }}</pre>
<!---Modal-->

</div>


<div style="height:500px;">

</div>
