<div class="container">
  <div class="container-fluid">
    <h1 class="titol-chi-siamo" style="margin-left: 18%;">Chi siamo</h1>
    <div class="row">
      <div class="col-lg 6" style="flex: 1 0 0%;">
        <img class="responsive" src="../assets/images/porto1.jpg" alt="Chi siamo foto">
      </div>
      <div class="col-lg 6 w-100" style="flex: 1 0 0%;">
        <div class="line-color"></div>
        <p class="h6 text-secondary my-2" style="line-height: 30px !important;">
          <br>
          Come spesso accade, le migliori imprese nascono da una grande passione, ed è questo l’elemento che
          caratterizza la nostra società di charter. La Timm Charter offre un servizio di altissima qualità per un
          “turismo nautico di élite”. La nostra società, attiva nel settore dell’hospitality, con la proprietà del
          <a href="https://www.palazzodonnaiulia.com" target="_blank"> Boutique Hotel Palazzo Donna Iulia</a>
          a Pozzuoli, presta da sempre particolare attenzione ad offrire servizi di elevata qualità, a partire dalla
          preparazione al viaggio e accoglienza, alla scelta di dotazioni di pregio e sistemi di bordo che possano
          garantire il massimo comfort per gli Ospiti, affinché la vacanza possa tradursi in un’esperienza di lusso per
          tutti i passeggeri.
          <br>
          Riteniamo che la posizione privilegiata, nella splendida cornice del Golfo di Napoli - ideale per trascorrere
          un week-end tra le vicine isole, ma anche ottimo punto di partenza per destinazioni a lungo raggio -
          costituisca un plus per chi sceglie di affidarsi a noi.
          <br>
          Personale qualificato, cordialità e professionalità in ogni aspetto della vacanza, uniti alla possibilità di
          godere della bellezza di un’imbarcazione di lusso, sono gli ingredienti perfetti per una vacanza che vorrete
          senz’altro ripetere.
          <br>
          <br >
        </p>
        <div class="line-color" id="porto"></div>
      </div>
    </div>
  </div>
  <div style="height: 60px;"></div>
  <div>




    <div class="container-fluid">
      <h1 class="titol-chi-siamo" style="margin-left: 15%;">Il porto</h1>
      <div class="row">
        <div class="col-lg 6" style="flex: 1 0 0%;">
          <img class="responsive" src="../assets/images/porto2.jpg" alt="Chi siamo foto">
        </div>
        <div class="col-lg 6 w-100" style="flex: 1 0 0%;">
          <div class="line-color" style="background-color: #F09A3D;"></div>
          <p class="h6 text-secondary my-2" style="line-height: 30px !important;">
            <br>
            Nel fantastico scenario del Rione Terra, di fronte al golfo di Pozzuoli, Sudcantieri è al centro dei Campi
            Flegrei.
            <br>
            Considerato oggi “il salotto” per il diporto nautico in Campania, Sudcantieri è un'oasi esclusiva di privacy
            e tranquillità,
            <br>
            un luogo sicuro da cui partire e dove tornare con la propria imbarcazione. Nasce come una struttura moderna,
            non solo esteticamente bella, ma anche competitiva a livello internazionale, ideale per un turismo nautico
            d'alto livello.
            <br>
            E' caratterizzata da mano d'opera specializzata e da una vasta gamma di servizi e comfort necessari affinché
            i clienti possano trascorrere il loro tempo in maniera piacevole ed intrattenersi prima di partire per il
            loro viaggio.
            <br>
            <br>
          </p>
          <div class="line-color" style="background-color: #F09A3D;"></div>
        </div>
      </div>
      <div style="height: 60px;"></div>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <img class="responsive" src="../assets/images/porto3.jpg" alt="Chi siamo foto">
          </div>
          <div class="col-sm w-100 h-100" style="flex: 1 0 0%;">
            <div class="line-color" style="background-color: #84a0c7;"></div>
            <p class="text-secondary" style="line-height: 30px !important;">
              <br>
            </p>
            <p class="text-secondary">
              Principali servizi:
            </p>
            <ul>
              <p class="text-secondary" style="line-height: 30px !important;">
                <li>Hospitality desk</li>
                <li>illuminazioni banchine</li>
                <li>Bollettino meteorologico</li>
                <li>Guardiania 24H su 24H</li>
                <li>Impianto di video sorveglianza</li>
                <li>Parcheggio con posti auto e moto</li>
                <li>“Club house” con : toilette, servizi igienici e docce, internet point, palestra, sala video, biliardo</li>
                <li>Rete wireless</li>
                <li>Servizi bancari a 500 metri</li>
                <li>Megastore a 5 km</li>
                <li>Supermarket a 100 metri</li>
                <li>Fornitura di acqua e luce (prese elettriche 32 - 63 - 125 A; 250 A per i grandi M/Y)</li>
              </p>
            </ul>
            <br>
            <br>
            <div class="line-color" style="background-color: #84a0c7;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
